<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>
<body>

    <header th:include="_template :: header"></header>

        <section class="card form">
            <h2> Cadastro de Produto</h2>

            <form class="form" th:action="@{/produto}" method="post" th:object="${produto}">
                <label for="descricaoResumida">Descrição Resumida</label>
                <input
                    type="text"
                    name="descricaoResumida"
                    id="descricaoResumida"
                    th:field="*{descricaoResumida}"
                    th:classappend="${#fields.hasErrors('descricaoResumida')}? invalid"
                    autocomplete="off"
                />
                <span class="error" th:errors="*{descricaoResumida}"></span>

                <label for="descricao">Descricao</label>
                <input
                    type="text"
                    name="descricao"
                    id="descricao"
                    th:field="*{descricao}"
                    th:classappend="${#fields.hasErrors('descricao')}? invalid"
                    autocomplete="off"
                />
                <span class="error" th:errors="*{descricao}"></span>

                <label for="tipoProd">Tipo do Produto</label>
                <input
                        type="text"
                        name="tipoProduto"
                        id="tipoProd"
                        th:field="*{tipoProduto}"
                        th:classappend="${#fields.hasErrors('tipoProduto')}? invalid"
                        autocomplete="off"
                />
                <span class="error" th:errors="*{tipoProduto}"></span>

                <label for="unidMed">Unidade de Medida</label>
                <input
                        type="text"
                        name="unidadeMedida"
                        id="unidMed"
                        th:field="*{unidadeMedida}"
                        th:classappend="${#fields.hasErrors('unidadeMedida')}? invalid"
                        autocomplete="off"
                />
                <span class="error" th:errors="*{unidadeMedida}"></span>


                <div class="form-buttons">
                    <a href="/cliente" class="button">Cancelar</a>
                    <button class="button primary">Salvar</button>
                </div>

            </form>
        </section>
</body>
</html>